body {
    background-color: black;
    color: white;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .logo {
    margin-bottom: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table td, table th {
    border: 1px solid white;
    padding: 8px;
  }
  
  .password {
    font-size: 24px;
    color: #ffaf00; /* Orange color */
  }
  
  .attendance-checkbox {
    margin: 0 auto;
    display: block;
  }
  
  