body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}

h1 {
    color: #ffaf00;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
