body {
    background-color: black;
    color: white;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .logo {
    max-width: 200px;
    margin-bottom: 20px;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  table td, table th {
    border: 1px solid white;
    padding: 8px;
  }
  
  table th {
    background-color: #ffaf00;
  }
  