<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body class="container">
    <img class="logo" src="{{ url_for('static', filename='logo.png') }}" alt="Logo">
    <p>Thanks for Coming to Mama Kin's Open Mic! Please Enter the password from the tablet to sign up to perform</p>
    <form id="password-form" method="POST">
        <input type="password" name="password" required>
        <input type="submit" value="Submit Password">
    </form>
    <form id="name-form" method="POST" style="display: none;">
        <input type="text" name="name" required>
        <input type="submit" value="Update List">
    </form>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
    $(document).ready(function(){
        $('#password-form').on('submit', function(e){
            e.preventDefault();
            $.post('/', $(this).serialize(), function(data){
                if (data.password_correct) {
                    $('#password-form').hide();
                    $('#name-form').show();
                } else {
                    alert('Incorrect password. Please try again.');
                }
            });
        });
    });
    </script>
</body>
</html>
