<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <img class="logo" src="{{ url_for('static', filename='logo.png') }}" alt="Logo">
    <div id="password-form-container">
        <form id="password-form" method="POST">
            <input type="password" name="password" required>
            <input type="submit" value="Submit Password">
        </form>
    </div>
    <div id="name-form-container" style="display: none;">
        <form id="name-form" method="POST">
            <input type="text" name="name" required>
            <input type="text" name="ideal_spot" required>
            <input type="submit" value="Update List">
        </form>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
    $(document).ready(function(){
        $('#password-form').on('submit', function(e){
            e.preventDefault();
            $.post('/', $(this).serialize(), function(data){
                if (data.password_correct) {
                    $('#password-form-container').hide();
                    $('#name-form-container').show();
                } else {
                    alert('Incorrect password. Please try again.');
                }
            });
        });
    });
    </script>
</body>
</html>
