<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <img class="logo" src="{{ url_for('static', filename='logo.png') }}" alt="Logo">
    
    {% if password_field %}
    <form id="password-form" method="POST">
        <input type="password" name="password" required>
        <input type="submit" value="Submit Password">
    </form>
    {% endif %}

    {% if password_correct %}
    <form id="name-form" method="POST">
        <input type="text" name="name" required>
        <input type="submit" value="Update List">
    </form>
    {% endif %}

    {% if password_incorrect %}
    <p class="error-message">Incorrect password. Please try again.</p>
    <form id="password-form" method="POST">
        <input type="password" name="password" required>
        <input type="submit" value="Submit Password">
    </form>
    {% endif %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $('#password-form').on('submit', function(e){
                e.preventDefault();
                $.post('/', $(this).serialize(), function(data){
                    $('#password-form').hide();
                    $('#name-form').show();
                });
            });
        });
    </script>
</body>
</html>
