<!DOCTYPE html>
<html>
<head>
    <title>Secure Admin</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <img class="logo" src="{{ url_for('static', filename='logo.png') }}" alt="Logo">
    <table>
        <tr>
            <th>Name</th>
            <th>Ideal Spot</th>
            <th>Attended</th>
        </tr>
        {% for entry in data %}
        <tr>
            <td>{{ entry.name }}</td>
            <td>{{ entry.ideal_spot }}</td>
            <td><input type="checkbox" {% if entry.attended %}checked{% endif %} disabled></td>
        </tr>
        {% endfor %}
    </table>
    <form method="POST">
        <input type="submit" name="action" value="randomize">
    </form>
</body>
</html>
