<!DOCTYPE html>
<html>
<head>
    <title>Secure Admin</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <img class="logo" src="{{ url_for('static', filename='logo.png') }}" alt="Logo">
    <h1>Secure Admin</h1>

    <!-- Table with an extra column for checkboxes -->
    <table>
        <tr>
            <th>Name</th>
            <th>Attendance</th> <!-- Extra column -->
        </tr>
        {% for name in data %}
        <tr>
            <td>{{ name }}</td>
            <td><input type="checkbox" class="attendance-checkbox"></td> <!-- Checkbox column -->
        </tr>
        {% endfor %}
    </table>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
    $(document).ready(function(){
        // Enable checkboxes for attendance
        $('.attendance-checkbox').prop('disabled', false);
    });
    </script>
</body>
</html>
