<!DOCTYPE html>
<html>
<head>
    <title>Secure Pass Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <img class="logo" src="{{ url_for('static', filename='logo.png') }}" alt="Logo">
    <h1 id="password">{{ password }}</h1>
    <script>
    $(document).ready(function(){
        function getPassword() {
            $.getJSON('/get_password', function(data){
                $('#password').text(data.password);
            });
        }
        getPassword();
        setInterval(getPassword, 60000);
    });
    </script>
    <img class="url" src="{{ url_for('static', filename='generatedQrCode.png') }}" alt="QR">
</body>
</html>
